:root {
    --base-colour: #080808;
    --gradient-colour-1: #111111;
    --text-colour: rgb(255, 255, 255);

    --link-colour: rgb(255, 200,200);
    --link-gradient-colour-1: #b6004c;

    --status-background-colour: rgba(25,25,25, 0.5);
    --status-border-colour: rgba(200,200,200, 0.75);

    --status-in-development-background-colour: rgba(50, 10, 10, 0.6);
    --status-in-development-border-colour:rgba(150, 10, 10, 0.6);

    --status-halted-background-colour: rgba(50, 50, 50, 0.9);
    --status-halted-border-colour: rgba(10, 10, 10, 0.9);

    --title-image: url(/images/projects/bound/title.png);
}