/* GLOBAL CARD CLASS START */
.card {
    position: relative;


    &::before,
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        bottom: 0;
    }

    &::after {
        background-color: var(--standard-colour);
    }

    &::before {
        left: -3px;
        bottom: -2px;
        animation: animateBg 12s linear infinite;
        background-image: linear-gradient(140deg,
                var(--button-initial-colour) 0%,
                var(--button-initial-colour) 49%,
                var(--flash-colour) 50%,
                var(--button-initial-colour) 51%,
                var(--button-initial-colour) 100%);
        background-size: 1200% 100%;
        transition: all 0.2s ease;
    }

    * {
        position: relative;
        z-index: 1;
    }

    &.hoverable {
        cursor: pointer;

        &:hover::before {
            left: -6px;
        }
    }

    &.flat {
        clip-path: initial !important;

        &::before,
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            clip-path: initial !important;
        }

        &.padded {
            padding: 25px;
        }
    }
}

/* GLOBAL CARD CLASS END */

a.link {
    color: var(--button-colour);
    text-decoration: none;
    width: fit-content;
    background-image: linear-gradient(to right,
            var(--button-gradient-colour-1),
            var(--button-gradient-colour-1));
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50% 2px;
    transition: all 0.2s ease;

    &:hover {
        color: var(--button-gradient-colour-1);
        background-size: 100% 2px;
    }

    &:focus {
        color: var(--button-gradient-colour-1);
        background-size: 100% 2px;
    }
}

/* Index */

#title-card {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 800px;
    height: 330px;

    transition: bottom 0.5s ease;

    &.moved {
        top: 0;
        left: 0;
        right: 0;
        bottom: 100px;
    }

    &::before,
    &::after {
        clip-path: polygon(100px 0, 800px 0, 700px 330px, 0 330px);
    }

    .information {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 5px;

        padding-top: 10px;
        margin-right: 50px;
    }

    h1.name {
        text-align: center;
        font-weight: 600;
    }

    div.sub.title {
        text-align: center;
        font-size: 0.9em;
        font-style: italic;
    }

    div.description {
        font-size: 1.15em;
    }

    div.image {
        background-image: url(/images/icon-trimmed.webp);
        background-position: -75px -50px;
        background-size: 150%;
        background-repeat: no-repeat;
        width: 350px;
        height: 100%;
        clip-path: polygon(100px 0px, 350px 0, 250px 330px, 0 330px);
        flex: 0 0 auto;
    }

    div.image div.author {
        background-color: rgba(0, 0, 0, 0.9);
        width: 265px;
        bottom: 0;
        text-align: center;
        padding: 10px;
        position: absolute;
        font-weight: 800;
    }


    div.features {
        display: flex;
        flex-direction: row;
        gap: 110px;
        left: -25px;
        padding-top: 35px;

        div {
            position: relative;
            height: 100px;
            cursor: pointer;

            &::before,
            &::after {
                width: 130px;
                height: 100px;
                clip-path: polygon(30px 0, 130px 0, 100px 100px, 0 100px);
            }

            &::after {
                background-color: var(--standard-highlight-colour);
                background-position: 50px center;
                background-repeat: no-repeat;
                background-size: 32px;
                transition: background-color 0.1s ease;
            }

            &:hover::after {
                background-color: var(--standard-highlight-hover-colour);
            }


            &.likes {
                &::after {
                    background-image: url(/images/icons/Likes-Icon.png);
                }
            }

            &.projects {
                &::after {
                    background-image: url(/images/icons/Projects-Icon.png);
                }
            }

            &.contact {
                &::after {
                    background-image: url(/images/icons/Contact-Icon.png);
                }
            }
        }
    }
}

div.feature-cards {
    position: absolute;
    margin: auto;
    top: 350px;
    left: -100px;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 730px;
    height: 100px;
    transition: all 0.2s ease;

    &.shown {
        opacity: 1 !important;
        left: -140px;
        user-select: initial;
        transition: all 0.5s ease;
    }

    #close {
        position: absolute;
        right: 25px;
        top: -10px;
        z-index: 10;
        cursor: pointer;
        padding: 5px;
        font-weight: 800;
        transition: all 0.2s ease;
        user-select: none;
    }

    #close:hover {
        color: var(--button-hover-colour);
    }

    div {
        position: absolute;
        display: block;
        width: 730px;
        height: 100px;
        z-index: 1;

        &::before,
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            z-index: 2;
            clip-path: polygon(30px 0, 730px 0, 700px 100px, 0px 100px);
        }

        &::before {
            left: -3px;
            bottom: -2px;
            background-color: var(--button-initial-colour);
            animation: animateBg 12s linear infinite;
            background-image: linear-gradient(140deg,
                    var(--button-initial-colour) 0%,
                    var(--button-initial-colour) 49%,
                    var(--flash-colour) 50%,
                    var(--button-initial-colour) 51%,
                    var(--button-initial-colour) 100%);
            background-size: 1200% 100%;
        }

        &::after {
            background-color: var(--standard-colour);
            background-position: 50px center;
            background-repeat: no-repeat;
            background-size: 32px;
        }

        &.shown {
            z-index: 5;
        }

        h2 {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            top: 5px;
            text-align: center;
            z-index: 5;
        }

        p {
            position: absolute;
            margin: auto;
            top: 25px;
            width: 98%;
            z-index: 5;
            padding-top: 15px;
            padding-left: 50px;
            padding-right: 50px;

            &.bottom {
                top: 55px;
                left: 0;
                right: 0;
                text-align: center;
                color: var(--standard-highlight-hover-colour);
                padding-left: 0;
                padding-right: 25px;
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: absolute;
            margin: auto;
            top: 25px;
            text-align: center;
            z-index: 5;
            padding-top: 15px;
            padding-left: 50px;
            padding-right: 50px;
            gap: 50px;

            li {
                flex-grow: 1;
                margin: 0;
            }
        }
    }
}

div.card-chain {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 800px;
    z-index: 1;

    .post {
        height: 250px;
        position: relative;
        transition: left 0.2s ease;

        &:nth-child(2n) {

            &::before,
            &::after {
                clip-path: polygon(0 0, 725px 0, 800px 250px, 75px 250px);
            }

            &::before {
                left: -2px;
            }

            .background {
                clip-path: polygon(0 1px, 725px 1px, 800px 250px, 75px 250px);
            }

            .project.description {
                padding-right: 45px;
            }


            .project.status {
                padding-right: 85px;
            }

            .info {
                left: 90px;
            }

            .post-button {
                right: 15px;
            }

            .post-button::before {
                left: -2px;
            }

            .post-button::before,
            .post-button::after {
                clip-path: polygon(0 0, 88px 0, 100px 40px, 12px 40px);
            }
        }

        &::before,
        &::after {
            width: 100%;
            height: 100%;
            clip-path: polygon(75px 0, 800px 0, 725px 250px, 0 250px);
            z-index: -1;
        }

        &::before {
            left: -3px;
        }

        &:hover {
            .background {
                background-size: 110%;
                transition: background-size 0.3s ease;
            }
        }

        &:last-child {
            margin-bottom: 50px;
        }

        .background {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-size: 100%;
            background-position: center;
            clip-path: polygon(75px 1px, 800px 1px, 725px 250px, 0 250px);
            z-index: 0;
            transition: background-size 0.3s ease;
        }

        .sub.title {
            position: relative;
            padding: 15px;
            font-size: 1.5em;
            text-align: center;
        }

        .project.title {
            position: relative;
            line-height: 1em;
            // This is semi lazy lol
            bottom: calc(-100% + 56px);
            text-align: center;
            background-color: rgba(0, 0, 0, 0.9);
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 1.5em;
        }

        .project.description {
            position: absolute;
            left: initial !important;
            right: 0;
            width: initial;
            bottom: 60px;
            padding: 10px;
            padding-right: 65px;
            background-color: rgba(0, 0, 0, 0.9);
            max-width: 500px;
        }

        .project.status {
            position: absolute;
            left: initial !important;
            right: 0;
            width: initial;
            top: 30px;
            padding: 10px;
            text-transform: capitalize;
            padding-right: 45px;
            background-color: rgba(0, 0, 0, 0.9);
        }

        .text {
            position: relative;
            left: 115px;
            width: 600px;
            margin: 0;

            p:first-child {
                margin-top: 0;
            }
        }

        .info {
            position: absolute;
            left: 25px;
            bottom: 10px;
        }

        .post-button {
            position: absolute;
            width: 100px;
            height: 40px;
            right: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 10px;

            * {
                position: absolute;
                z-index: 1;
            }

            // These two are needed because of some wack interaction with babel animations
            &:hover::before {
                left: -5px;
            }

            &:focus::before {
                left: -5px;
            }


            &::before,
            &::after {
                clip-path: polygon(12px 0, 100px 0, 88px 40px, 0 40px);
                z-index: 0;
            }

            &::after {
                background-color: var(--standard-highlight-colour);
                transition: background-color 0.1s ease;
            }

            &:hover::after {
                background-color: var(--standard-highlight-hover-colour);
            }

            &:focus::after {
                background-color: var(--standard-highlight-hover-colour);
            }
        }
    }
}

div.main {
    .title.center {
        position: relative;
        z-index: 2;
        text-align: center;
        padding: 25px;
        margin-bottom: 15px;
        font-size: 3em;
    }
}

div.social {
    position: absolute;
    width: 148px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;

    &::before,
    &::after {
        width: 175px;
        height: 52px;
        top: -6px;
        right: 0;
        position: absolute;
        content: "";
        background-color: var(--standard-colour);
        clip-path: polygon(20px 0px, 100% 0, 100% 52px, 0px 52px);
    }

    &::before {
        right: 2px;
        top: -4px;
        animation: animateBg 12s linear infinite;
        background-image: linear-gradient(140deg,
                var(--button-initial-colour) 0%,
                var(--button-initial-colour) 49%,
                var(--flash-colour) 50%,
                var(--button-initial-colour) 51%,
                var(--button-initial-colour) 100%);
        background-size: 1200% 100%;
    }
}

span.icon {
    z-index: 1;
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 5px;

    &#discord {
        background-image: url("/images/icons/Discord-Logo.svg");
    }

    &#twitter {
        background-image: url("/images/icons/Twitter-Logo.svg");
    }

    &#youtube {
        background-image: url("/images/icons/Youtube-Logo.svg");
    }

    &#github {
        background-image: url("/images/icons/Github-Logo.svg");
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    text-decoration: underline;

    &.subtitle {
        font-size: 0.9em;
        text-decoration: none;
    }
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    font-style: italic;
}


@media (max-width: 1000px) {

    #title-card {
        width: 600px;

        &::before,
        &::after {
            clip-path: polygon(100px 0, 600px 0, 500px 330px, 0 330px);
        }

        div.image {
            background-position: -50px -0px;
            width: 290px;
            clip-path: polygon(100px 0px, 290px 0, 190px 330px, 0 330px);

            div.author {
                width: 205px;
            }

        }

        div.features {
            gap: 90px;
            left: -65px;

            div {
                height: 75px;

                &::before,
                &::after {
                    width: 100px;
                    height: 75px;
                    clip-path: polygon(20px 0, 100px 0, 80px 75px, 0 75px);
                }

                &::after {
                    background-position: 35px center;
                }
            }
        }
    }

    div.feature-cards {
        width: 545px;
        height: 150px;

        &.shown {
            top: 400px;
            left: -60px;
        }

        div {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;

            &::before,
            &::after {
                clip-path: polygon(0 0, 500px 0, 545px 150px, 45px 150px);
            }

            &::before {
                left: -2px;
            }

            &::after {
                background-position: 50px center;
            }

            p {
                width: 98%;

                &.bottom {
                    top: 110px;
                    font-size: 0.8em;
                    padding-left: 50px;
                }
            }

            ul {
                flex-direction: column;
                position: absolute;
                width: initial;
                left: 0;
                right: 0;
                text-align: center;
                padding-left: 70px;
                gap: 0;
            }
        }

        #close {
            right: 60px;
            top: -10px;
        }
    }

    div.card-chain {
        width: 575px;

        min-height: 250px;
        padding-bottom: 25px;
        height: initial;

        .post {

            &::before,
            &::after {
                clip-path: polygon(12% 0, 100% 0, 88% 100%, 0 100%);
            }

            &:nth-child(2n) {

                &::before,
                &::after {
                    clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
                }

                .post-button {
                    right: 10px;
                }

                .background {
                    clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
                }
            }

            .post-button {
                right: 65px;
            }

            .text {
                width: 70%;
                left: 15% !important;
            }

            .info {
                bottom: 10px;
            }

            .background {
                clip-path: polygon(12% 0, 100% 0, 88% 100%, 0 100%);
            }

        }
    }

}

@media (max-width: 720px) {

    div.main {
        .title.center {
            padding-top: 40px;
            font-size: 2em;
        }
    }

    #title-card {
        flex-direction: column;

        height: 500px;
        width: 410px;

        &::before,
        &::after {
            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
        }

        &.moved {
            bottom: 205px;
        }

        h1.name {
            font-size: 1.5em;
        }

        div.image {
            position: absolute;
            background: none;
            width: 100%;
            height: 100%;
            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
        }

        div.image::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 40%;
            background-image: url(/images/icon-trimmed.webp);
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }

        div.information {
            padding-top: 50%;
            margin-left: 50px;
            gap: 0;
            text-align: center;
        }

        div.image div.author {
            width: 150px;
            height: 40px;
            padding: 0;
            line-height: 40px;
            justify-content: center;
            align-content: center;
            bottom: initial;
            top: 2%;
            right: 0;
            left: initial;
            clip-path: polygon(5px 0, 100% 0, 100% 100%, 0 100%);
        }

        div.features {
            left: 0px;
            width: 255px;
            right: initial;
            top: initial;
            align-content: center;
            margin: auto;
            gap: 80px;
            padding-top: 50px;

            div h2 {
                font-size: 1.2em;
            }

            div {
                height: 70px;

                &::before,
                &::after {
                    width: 80px;
                    height: 70px;
                    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
                }

                &::after {
                    background-position: 25px center;
                }
            }
        }

    }

    div.feature-cards {

        min-height: 150px;
        width: 410px;
        margin: auto;
        top: 370px;
        left: 0;

        &.shown {
            top: 465px;
            left: 0;
        }

        #close {
            right: 12%;
            top: -10px;
        }

        div {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 0;
            user-select: none;

            &::before,
            &::after {
                clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
            }

            p {
                width: 98%;
                top: 20px;
                font-size: 1em;
                padding-left: 40px;
                padding-right: 20px;
            }


        }
    }

    div.card-chain {
        width: 90%;

        .post {
            min-height: 250px;
            height: initial;
            padding-bottom: 50px;

            .post-button {
                margin: auto;
                margin-top: 25px;
                left: initial;
                right: initial;
                position: relative;
                width: 80%;

                &::before,
                &::after {
                    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
                }
            }

            &:nth-child(2n) {
                .post-button {

                    left: initial;
                    right: initial;

                    &::before,
                    &::after {
                        clip-path: polygon(0% 0, 98% 0, 100% 100%, 2% 100%);
                    }
                }

                .project.description {
                    padding-right: 25px;
                }
            }

            .project.description {
                width: 65%;
                padding-right: 40px;
            }


            &:hover {
                .background {
                    background-size: 120vh;
                }
            }

            .background {
                background-size: 100vh;
            }

        }
    }

}

@media (max-width: 420px) {
    * {
        clip-path: none !important;

        &::before,
        &::after {
            clip-path: none !important;
        }
    }

    #title-card {
        width: 95%;

        &.moved {
            bottom: 230px;
        }

        div.features {
            gap: 90px;
        }

        div.information {
            margin: auto;
            margin-top: 5px;
            padding: 15px;
            padding-top: 0;
        }

        div.image {
            position: relative;
            background-image: url(/images/icon-trimmed.webp);
            background-position: center;
            background-size: 150%;
            background-repeat: no-repeat;
            width: 100%;
            height: 40%;
            clip-path: polygon(100px 0px, 350px 0, 250px 330px, 0 330px);
            flex: 0 0 auto;
        }

        div.image::before {
            background-image: none;
        }
    }

    div.feature-cards {
        width: 95%;

        &.shown {
            top: 425px;
        }

        div {
            ul {
                padding: 25px;
            }
        }
    }

    /* flatten cards here */
    .card {
        position: relative;
        transition: bottom 0.5s ease;

        &::before,
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            left: 0;
            bottom: 0;
            clip-path: initial !important;
        }

        &::before {
            left: -2px !important;
            bottom: -2px;
        }
    }
}

/* transition */

.transition-enter-active {
    transition: opacity 10s linear;

    .swapper {
        z-index: 1000;
    }

    .swapper .loader {
        transition: opacity 1s cubic-bezier(0.66, -0.13, 0, 1.64);
    }

    .swapper::after {
        transition: left 1s cubic-bezier(0.97, 0, 1, 1);
    }

    .swapper::before {
        transition: left 1s cubic-bezier(1, 0, 1, 1);
    }
}

.transition-enter {
    .swapper {
        z-index: 1000;
    }

    .swapper .loader {
        opacity: 1;
    }

    .swapper::after {
        left: -15%;
    }

    .swapper::before {
        left: -15%;
    }
}

.transition-enter-to {
    .swapper {
        z-index: 1000;
    }

    .swapper .loader {
        opacity: 0;
    }

    .swapper::after {
        left: -120%;
    }

    .swapper::before {
        left: -120%;
    }
}

.transition-leave-active {
    transition: opacity 10s linear;

    .swapper .loader {
        transition: opacity 1s cubic-bezier(0.54, -1.29, 0.59, 1.89);
    }

    .swapper::after {
        transition: left 1s cubic-bezier(0, 0, 0, 0.97);
    }

    .swapper::before {
        transition: left 1s cubic-bezier(0, 0, 0, 1);
    }
}

.transition-leave {
    .swapper {
        z-index: 1000;
    }

    .swapper .loader {
        opacity: 0;
    }

    .swapper::after {
        left: 100%;
    }

    .swapper::before {
        left: 100%;
    }
}

.transition-leave-to {
    .swapper {
        z-index: 1000;
    }

    .swapper .loader {
        opacity: 1;
    }

    .swapper::after {
        left: -15%;
    }

    .swapper::before {
        left: -15%;
    }
}

.swapper .loader {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    opacity: 1;
    margin: auto;
    text-align: center;
    opacity: 0;

    p {
        height: 2em;
        font-size: 2em;
    }
}

.swapper {
    position: fixed;
    z-index: -5;
    height: 100vh;
    width: 150vw;

    &::before,
    &::after {
        position: absolute;
        height: calc(100vh - 2px);
        width: 150vw;
        left: 100%;
        clip-path: polygon(10vw 0, 150vw 0, 140vw 150vh, 0vw 150vh);
        content: "";
    }

    &::before {
        bottom: -2px;
        animation: animateBg 12s linear infinite;
        background-image: linear-gradient(140deg,
                var(--button-initial-colour) 0%,
                var(--button-initial-colour) 49%,
                var(--flash-colour) 50%,
                var(--button-initial-colour) 51%,
                var(--button-initial-colour) 100%);
        background-size: 1200% 100%;
    }

    &::after {
        background-color: var(--standard-colour);
    }
}