--- 
layout: stylesheet 
---
html {
    height: 100%;
    width: 100%;
    margin: 0;
    
    background: var(--background-colour);

    color: white;
    overflow-x: hidden;
}

/* 
START
    SOCIALS 

*/

div.social {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
}

span.icon {
    width: 32px;
    height: 32px;
    padding:0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left:5px;
}

span#discord {
    background-image: url("/images/icons/Discord-Logo.svg");
}

span#twitter {
    background-image: url("/images/icons/Twitter-Logo.svg");
}

span#youtube {
    background-image: url("/images/icons/Youtube-Logo.svg");
}

span#github {
    background-image: url("/images/icons/Github-Logo.svg"); 
}

/* 
END
    SOCIALS 

*/