--- 
layout: stylesheet 
---
html {
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    overflow-x: hidden;
}

#titleCard {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
    height: 300px;
    border-radius: var(--border-radius-value);
    box-sizing: border-box;
    border: 1px solid var(--standard-border-colour);
    background-color: var(--standard-colour);
    backdrop-filter: blur(var(--blur-amount));
}

#titleCard .icon.top {
    background-image: url("/images/profilePic.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 125px;
    height: 125px;
    top: -62.5px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    background-color: rgba( 100, 100, 100, 1);
}

#titleCard .cardContainer {
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    text-align: center;
    position: relative;
    top: 70px;
}

#titleCard .title {
    font-size: 48px;
    top: 60px;
    text-align: center;
    position: relative;
    text-decoration: none;
    font-weight: normal;
}


#featuredProject {
    width: 200px;
    height: 90px;
    position: absolute;
    margin: auto;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    padding: 10px;
    transition: all 0.2s ease;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour);
    background-color: var(--standard-colour);
    backdrop-filter: blur(var(--blur-amount));
}

#featuredProject:hover {
    background-color: rgba( 0,0,0, 0.4);
}


#featuredProject .projectImage {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
}

#featuredProject .project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.bottom.scroll-down {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 25px;
    width: 0px;
    height: 0px;
    text-align: center;
}

.arrow, .arrow:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.arrow {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -25px 0 0 calc(-25px / 2);
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    opacity: 0.5;
}

.arrow:before {
    content: '';
    width: 15px;
    height: 15px;
    margin: -5px 0 0 -5px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        transform: translate(10px, 10px);
    }
}

.button {
    cursor: pointer;
}

.background {
    background-image: url("/images/bgpic.webp");
    /*\
    https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80
    https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80
    background-image: url("https://i.pinimg.com/originals/c2/a2/13/c2a213a5143de05750d9a4d49b1c393e.jpg");
    background-image: url("/images/profilePic.jpg");
    */
    background-color: rgb(50, 50, 50);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.alt2-background {
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1470104240373-bc1812eddc9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    /*\
    background-image: url("https://i.pinimg.com/originals/c2/a2/13/c2a213a5143de05750d9a4d49b1c393e.jpg");
    background-image: url("/images/profilePic.jpg");
    */
    background-color: rgb(50, 50, 50);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.alt3-background {
    z-index: -1;
    background-image: url("../images/test/backdrop.png");
    /*\
    background-image: url("https://i.pinimg.com/originals/c2/a2/13/c2a213a5143de05750d9a4d49b1c393e.jpg");
    background-image: url("/images/profilePic.jpg");
    */
    background-color: rgb(50, 50, 50);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container.expandable {
    width: 100%;
    min-height: 100%;
}

.container.center {
    width: 800px;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
    background: var(--standard-colour);
    backdrop-filter: blur(var(--blur-amount));
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour);
}

.container.center.noborder {
    border:0 !important;
}


.container.center.projects {
    width: 75%;
    height:60%;

    margin: auto;
    top:0;
    bottom:0;
    display: block;
    border-radius: 0;
    border:0;
}
.container.center.projects .pItem {
    width: 100%;
    height: 100%;
    min-width: 100%;
    display: flex;
    gap: 5px;
    align-items: flex-end;
    flex-direction: column-reverse;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    scroll-snap-align: start;
}


.container.center.projects .pTitle {
    position: relative;
    font-size: 3em;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    background:rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(var(--blur-amount));
    border-radius:0;
    border: 1px solid var(--standard-border-colour);
}

.vcontainer {
    display: flex;
    width: 100%;
    height: 100%;
    gap:1px;
    overflow-x: scroll;
    flex-direction: row;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
    scroll-snap-type: x mandatory;
}

.container.center.projects .pDescription {
    bottom: 80px;
    right: 5px;
    width: 500px;
    min-height: 150px;
    padding: 15px;
    background:rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(var(--blur-amount));
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour);
    cursor:text;
}

.container.center.projects .pCount {
    bottom: -40px;
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
    gap: 5px;
}

.pCount .bubble {
    background:rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(var(--blur-amount));
    border-radius: 50%;
    border: 1px solid var(--standard-border-colour);
    width: 30px;
    height: 30px;
    display: block;
}

.pCount .bubble:active {
    background:rgba(163, 135, 135, 0.5);
}

.outer-container {
    height: 100%;
    width: 100%;
    background-color: rgb(50, 50, 50);
}

.outer-container>.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.container.page {
    height: 100%;
}

.outer-container .split.container {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    align-content: center;
}

.outer-container .split.container .container {
    width: 45%;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 40px;
    position: relative;
    margin: auto;
    background-color: rgba(75, 75, 75, .5);
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: var(--border-radius-value);
}

.container .title {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 3.5em;
    line-height: 1em;
    color: white;
}

.container .title.center {
    text-align: center;
}

.container > .text {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    gap: 64px;
    padding: 100px;
}

.container .sub.title {
    padding: 0;
    font-size: 32px;
    color: white;
    line-height: 1em;
}

.container.block {
    flex-grow: 1;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    position: relative;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    border-radius: var(--border-radius-value);
    z-index: 0;
}

.container.block .title {
    position: relative;
    width: calc(100% - 50px);
    margin-right: 25px;
    margin-left: 25px;
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 25px;
    z-index: 3;
}

.container.block .description {
    position: relative;
    text-align: center;
    z-index: 3;
}

.container.block .background-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-value);
    filter: blur(2px);
    transition: filter 0.2s ease;
}

.container.block:hover .background-image {
    filter: blur(5px);
}


.container.page div.bar {
    width: 80%;
}

.subcontainer.sidemenu {
    width: 20%;
    position: absolute;
    height: 100%;
    border-right: 1px solid var(--standard-colour);
    overflow-y: auto;

    overflow: hidden;

}

.subcontainer.sidemenu .project {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid var(--standard-border-colour);
    background-color:var(--standard-colour);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.subcontainer.sidemenu .project:hover {
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

.subcontainer.sidemenu .project.active {
    transition: background-color 0.2s ease;
    background-color: rgba(0, 0, 0, 0.4);
}



.subcontainer.sidemenu .project .name {
    font-size: 2em;
    position:relative;
    top:50%;
    transform: translateY(-50%);
}



.subcontainer.sidemenu .project:first-child {
    border-left: 0px;
    border-top-left-radius: var(--border-radius-value);
}


.tabcontent { 
    display: none;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
}

.tabcontent .featuredIcon {
    position: absolute;
    bottom:initial;
    left: initial;
    height: 25px;
    text-align: center;

    left: initial;
    right: 15px;
    top: 55px;

    background-color: rgba(196, 134, 0, 0.6);
    border: 1px solid rgba(150, 106, 10, 0.6);
    color:white;

}

.tabcontent:first-child {
    display: block;

}

.tabcontent .button {
    position: absolute;
    bottom: 15px;
    right:15px;
    min-width: 150px;
    height: 50px;
    transition: all 0.2s ease;
    background-color: var(--standard-colour);
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour)
}

.tabcontent .button .text {
    position: absolute;
    text-align: center;
    width:100%;
    top:50%;
    transform: translateY(-50%);
}

.tabcontent .button:hover {
    transition: all 0.2s ease;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba( 0,0,0, 0.4);
}


.tabcontent .button:active {
    transition: all 0.2s ease;
    background-color: rgba(20, 20, 20, 0.30);
}

.tabcontent .tabtitle {
    font-size: 3em;
}

.subcontainer.sidemenu ~ .container {
    left: 20%;
    padding: 15px;
    position: relative;
    width: calc(80% - 30px);
    height: calc(100% - 30px);
}

div.status {
    position: absolute;
    bottom:10px;
    left: 10px;
    border-radius: var(--border-radius-value);
    padding:5px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(150,150,150, 0.6);
    color:black;
    text-transform: capitalize;
}
div.status.in.development {

    background-color: rgba(50, 10, 10, 0.6);
    border: 1px solid rgba(150, 10, 10, 0.6);
    color:white;
}

div.status.halted {

    background-color: rgba(17, 17, 17, 0.9);
    border: 1px solid rgba(10, 10, 10, 0.9);
    color:white;
}

.tabcontent div.category {
    position: absolute;
    bottom:55px;
    left:10px;
    text-transform: capitalize;
    border-radius: var(--border-radius-value);
    padding:5px;
    color:white;
    background-color: rgba(15, 15, 15, 0.6);
    border: 1px solid rgba(54, 54, 54, 0.6);
}

.tabcontent div.date {
    position: absolute;
    top:10px;
    right:10px;
    text-transform: capitalize;
    border-radius: var(--border-radius-value);
    padding:5px;
    color:white;
    background-color: rgba(15, 15, 15, 0.6);
    border: 1px solid rgba(54, 54, 54, 0.6);
}

div.bar {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: var(--border-radius-value);
    width: 700px;
    margin: 0 auto;
    margin-bottom: 25px;
}

/* 
START
    SOCIALS 

*/

div.social {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    flex-direction: row-reverse;
}
span.icon {
    width: 32px;
    height: 32px;
    padding:0;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left:5px;
}
span#discord {
    background-image: url("/images/icons/Discord-Logo.svg");
}

span#twitter {
    background-image: url("/images/icons/Twitter-Logo.svg");
}

span#youtube {
    background-image: url("/images/icons/Youtube-Logo.svg");
}

span#github {
    background-image: url("/images/icons/Github-Logo.svg"); 
}

/* 
END
    SOCIALS 

*/

/*
START
    POST ARTICLES

*/

article.post {
    padding:15px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    transition: all ease 0.2s;
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour);
}

article.post:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

article.post:first-child {
    border-bottom: 0px;
}

article.post:last-child {
    border-top: 0px;
}

article.post div.info {
    position: absolute;
    float: left;
    left: 0;
    text-align: left;
    bottom:50%;
    transform: translateY(50%);

    transition: all 0.2s ease;
    background-color: var(--standard-colour);
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour);
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
   
}

article.post div.info:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba( 0,0,0, 0.4);
}

article.post div.text {
    padding: 5px;
    flex-grow: 1;
    
}

article.post div.container {
    width: 100%;
    position: relative;
}


article.post div.container a.button {
    position: relative;
    float:right;
    right: 0;
    min-width: 100px;
    height: 40px;
    transition: all 0.2s ease;
    background-color: var(--standard-colour);
    border-radius: var(--border-radius-value);
    border: 1px solid var(--standard-border-colour);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

article.post div.container a.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba( 0,0,0, 0.4);
}

article.post div.seperator {
    border-top: 3px solid rgba(255, 255, 255, 0.555);
    border-bottom: 3px solid rgba(255, 255, 255, 0.555);
    border-radius: var(--border-radius-value);
    width: 75%;
    margin: 0 auto;
    margin-top: 15px;

}

article.post:last-child div.seperator {
    border-top: 0px solid rgba(255, 255, 255, 0.555);
    border-bottom: 0px solid rgba(255, 255, 255, 0.555);
    border-radius: var(--border-radius-value);
    width: 0;
    margin: 0 auto;
    margin-top: 0px;
}
/*
END
    POST ARTICLES

*/



@media (max-height:830px) {
    #featuredProject {
        width: 150px;
        height: 50px;
        position: absolute;
        margin: auto;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 10%;
        text-align: center;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: var(--border-radius-value);
        border: 1px solid var(--standard-border-colour);
        background-color: var(--standard-colour);
        backdrop-filter: blur(var(--blur-amount));
    }
    
}

@media (max-width:1360px) {
    .container.center.projects {
        width:80%;
        height:60%;
    }
    
    .subcontainer.sidemenu .project .name {
        font-size: 1.3em;
        position:relative;
        top:50%;
        transform: translateY(-50%);
    }


    

    .container > .text {
        flex-flow: column;
        padding: 0;
        gap: 8px;
    }
    .container .title {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 3.5em;
        color: white;
    }
    .container.block {
        width: 85%;
        margin: auto;
        margin-top: 0;
        margin-bottom: 25px;
        height: 100%;
        position: relative;
        border: 1px solid rgba( 255, 255, 255, 0.18);
        border-radius: var(--border-radius-value);
        z-index: 0;
    }
    .container.block .title {
        font-size: 28px;
        word-wrap: normal;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 25px;
    }
    .container .sub.title {
        font-size: 32px;
    }
}

@media (max-width:900px) {



    .container.center {
        width: 75%;
    }
    div.bar {
        width: 70% !important;
    }
}

@media (max-width:720px) {
    
    article.post div.container {
        display: flex;
        gap: 25px;
        flex-direction: column;
    }
    article.post div.container a.button {
        position: relative;
    }

    article.post div.info{
        position: relative;
    }

    .container.center.projects {
        width: 100%;
        height:65%;
    }

    .container.center.projects .pDescription {
        width: 90%; 
    }

    .container.center.projects .pItem {
        align-items: center;
    }

    .container.center.projects .pTitle {
        position: relative;
        font-size: 2em;
    }

    .subcontainer.sidemenu {
        min-width: 100%;
        
        position: relative;
        max-height: 100px;
        border-right: 0px;
        border-bottom:  1px solid var(--standard-colour);
        white-space: nowrap;
        overflow-x: auto;
        overflow-y:hidden;
        display: flex;
        overflow-x: auto;
    }

    
    .subcontainer.sidemenu .project {
        flex: 0 0 auto;
        position: relative;
        width: initial;
        min-width: 150px;
        padding-right: 30px;
        padding-left: 30px;
        border-left:  1px solid var(--standard-border-colour);
    }
    
    .subcontainer.sidemenu .project:last-child {
        border-top-right-radius: var(--border-radius-value);
    }


    .subcontainer.sidemenu~.container {
        left: 0;
        width: calc(100% - 30px);
        height: calc(100% - 130px);
    }

    .subcontainer.sidemenu .project .name {
        font-size: 1.5em;
    }

    
    .tabcontent .tabtitle {
        font-size: 2em;
    }

    div.bar {
        width: 80% !important;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        border-radius: var(--border-radius-value);
    }

    .container.center {
        width: 90%;
    }

    .container .title {
        font-size: 2.5em;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    #titleCard {
        width: 90%;
        min-height: 300px;
    }
    #titleCard .icon.top {
        position: absolute;
        width: 100px;
        height: 100px;
        top: -50px;
        left: 0;
        right: 0;
        margin: auto;
    }
    #titleCard .title {
        font-size: 35px;
        top: 60px;
        text-align: center;
        position: relative;
    }
    #titleCard .cardContainer {
        top: 70px;
    }
}