---
layout: stylesheet
---
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(25,25,25,1);

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.5);
    border-radius: 5px;
  }