/* 
START
    POST PAGE STUFF

*/
article.blog-post  .entry {
    padding: 25px;
}

article.blog-post  a {
    text-decoration: underline;
    color: rgb(0, 162, 255);
    color: #ffd9a7;
    transition: all .1s ease;
}

article.blog-post  a:hover {
    color: #ffffff;
}

article.blog-post  .date {
    position: absolute;
    right: 115px;
    bottom: 10px;
}
/* 
END
    POST PAGE STUFF

*/

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 1.8em;
    text-decoration: underline;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    font-style: italic;
}

h4 {}

h5 {}

h6 {}


h1.subtitle {
    font-size: 0.9em;
    text-decoration: none;
}

article.blog-post  {
    font-size: 1.1em;
}

@media (max-width:1360px) {}

@media (max-width:720px) {}