h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0;
}


h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 0;
}

@media (max-width:1360px) {

}

@media (max-width:720px) {
    h1 {
        font-size: 2em;
        font-weight: normal;
        text-decoration: underline;
        margin: 0;
    }
}