---
layout: stylesheet
---
html {
    height: 100% !important;
    overflow: hidden !important;
    overflow-x:hidden !important;
}

.snap {
    z-index: -1;
    background-color: transparent;
    position: relative;
    margin: 0;
    padding:0;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    scroll-snap-points-y: repeat(100%);
    scroll-snap-type: y mandatory;
}

.snap-child {
    height: 100%;
    scroll-snap-align: start;
    position: relative;
}

.outer-container > .container {
    padding-left: 50px !important;
    padding-right: 50px;
    width: calc(100% - 100px) !important;
}

@media (max-width:1360px) {

    .outer-container > .container {
        width: calc(100% - 20px) !important;
        padding-left: 10px !important;
    }

}