---
permalink: /blog/
layout: page
title: Blog
---
<div class="main" data-barba="container" data-barba-namespace="blog">
  <div class="swapper">
    <div class="loader">
        <p id="loader-message"></p>
    </div>
</div>
  <div class="title center">{{ page.title }}</div>
  <div class="card-chain">
    {% for post in site.posts %}

      <div class="card post">
        <div class="sub title"><a href="{{ post.url }}">{{ post.title }}</a></div>

        {% assign excerptParts = post.excerpt | split: "<!-- excerpt_start -->" %}
        <div class="text">{{ excerptParts[1] | strip_html | truncate: 250 }}</div>

        <div class="info">
          {{ post.date | date: "%B %e, %Y" }} - {% for cat in post.categories %} {{ cat | remove: "blog" }} {% endfor %}
        </div>
        <a class="card post-button hoverable" href="{{ post.url }}"><span>Read...</span></a>
      </div>
    {% endfor %}
  </div>
</div>