---
permalink: /
layout: page
---
<div class="outer-container background snap-child">
  <div id="titleCard" class="animate__animated animate__fadeIn">
    <div class="icon top"></div>
    <h1 class="title">{{ site.title }}</h1>
    <div class="cardContainer">{{ site.description }}</div>
  </div>

  {% for project in site.projects %}
  {% if project.featured == true %}
  <a id="featuredProject" class="animate__animated animate__fadeIn" href="{{ site.base }}{{ project.url }}">
    {% if project.titleimage %}
    <div class="projectImage" style="background-image: url({{ project.titleimage }});"></div>
    {% else %}
    <div class="project">{{ project.title }}</div>
    {% endif %}

  </a>
  {% endif %}
  {% endfor %}
  <span>
    <!--<div class="bottom scroll-down">
      <div class="arrow"></div>
    </div>-->
  </span>
  <div class="social animate__animated animate__fadeIn">
    <a href="{{ site.discord_link }}"><span class="icon" id="discord"></span></a>
    <a href="{{ site.twitter_link }}"><span class="icon" id="twitter"></span></a>
    <a href="{{ site.youtube_link }}"><span class="icon" id="youtube"></span></a>
    <a href="{{ site.github_link }}"><span class="icon" id="github"></span></a>
  </div>
</div>