---
permalink: /
layout: page
---

<div class="main" data-barba="container" data-barba-namespace="home">
  <div class="swapper">
    <div class="loader">
        <p id="loader-message"></p>
    </div>
</div>
  <div class="card" id="card">
    <div class="image">
      <div class="author">Art by <a class="link" href="https://twitter.com/raemibun">Raemi</a></div>
    </div>
    <h1 class="name">{{ site.title }}</h1>
    <div class="sub title">The Definition of Procrastination</div>
    <div class="description">Just some guy that likes starting but not finishing projects</div>

    <div class="features">
      <span class="contact" id="contact"></span>
      <span class="projects" id="projects"></span>
      <span class="likes" id="likes"></span>
    </div>
  </div>

  <div class="feature-cards" id="feature-cards">
    <p id="close">X</p>
    <div id="likesNode">
      <h2 class="title">Likes</h2>
      <ul>
        <li>Creating random projects</li>
        <li>Never finishing any of them</li>
        <li>Procrastination!</li>
      </ul>
      <p class="bottom">(don't wanna forget that last one!)</p>
    </div>
    <div id="projectsNode">
      <h2 class="title">Projects</h2>
      <p>Currently has no currently active <a class="link" href="/projects/">projects</a>.</p>
      <p></p>
    </div>
    <div id="contactNode">
      <h2 class="title">Contact</h2>
      <p>I don't know why you would need to contact me, but can contact me through Discord, Email (<a class="link" href="mailto:jelly@kingjellycycle.com">Email</a>) or even Twitter!</p>
    </div>
  </div>




<div class="social">
  <a href="{{ site.discord_link }}"><span class="icon" id="discord"></span></a>
  <a href="{{ site.twitter_link }}"><span class="icon" id="twitter"></span></a>
  <a href="{{ site.youtube_link }}"><span class="icon" id="youtube"></span></a>
  <a href="{{ site.github_link }}"><span class="icon" id="github"></span></a>
</div>
</div>
<!--{% for project in site.projects %}
  {% if project.featured == true %}
  <a id="featuredProject" href="{{ site.base }}{{ project.url }}">
    {% if project.titleimage %}
    <div class="projectImage" style="background-image: url({{ project.titleimage }});"></div>
    {% else %}
    <div class="project">{{ project.title }}</div>
    {% endif %}

  </a>
  {% endif %}
  {% endfor %}
  -->
