---
permalink: /projects/
layout: page
title: Projects
---
<div class="main">

    <div class="title center">{{ page.title }}</div>
    <div class="card-chain">
        {% for project in site.projects reversed %}
        {% if project.featured %}
        <article class="post">
          <div class="background" style="background-image: url('{{ project.background-image }}');"></div>
          <div class="project title"><a href="{{ site.base }}{{ project.url }}">{{ project.title }}</a></div>

          <div class="project text">{{ project.short_description | truncate: 75 }}</div>
        <!--<a class="button" href="{{ site.base }}{{ project.url }}">More...</a>-->
        </article>
        {% endif %}
      {% endfor %}
      {% for project in site.projects reversed%}
      {% if project.featured == false %}

      <article class="post">
        <div class="background" style="background-image: url('{{ project.background-image }}');"></div>
        <div class="project title"><a href="{{ site.base }}{{ project.url }}">{{ project.title }}</a></div>

        <div class="project text">{{ project.short_description | truncate: 75 }}</div>
        <!--<a class="button" href="{{ site.base }}{{ project.url }}">More...</a>-->
      </article>
      {% endif %}
      {% endfor %}
    </div>
  </div>