---
permalink: /projects/
layout: page
title: Projects
---
<div class="main" data-barba="container" data-barba-namespace="home">
  <div class="swapper">
    <div class="loader">
      <p id="loader-message"></p>
    </div>
  </div>

  <div class="title center">{{ page.title }}</div>
  <div class="card-chain" data-barba-prevent="all">
    {% for project in site.projects reversed %}
    {% if project.featured %}
    <article class="post">
      <div class="background" style="background-image: url('{{ project.background-image }}');">       
        {% if project.isExternal %}
        <a href="{{ project.link }}"><div class="project title">{{ project.title }}</div></a>
        {% else %}
        <a href="{{ site.base }}{{ project.url }}"><div class="project title">{{ project.title }}</div></a>
        {% endif %}

        <div class="project description">{{ project.short_description | truncate: 75 }}</div>
      </div>

      <!--<a class="button" href="{{ site.base }}{{ project.url }}">More...</a>-->
    </article>
    {% endif %}
    {% endfor %}
    {% for project in site.projects reversed%}
    {% if project.featured == false %}

    <article class="post">
      <div class="background" style="background-image: url('{{ project.background-image }}');">       
        {% if project.isExternal %}
        <a href="{{ project.link }}"><div class="project title">{{ project.title }}</div></a>
        {% else %}
        <a href="{{ site.base }}{{ project.url }}"><div class="project title">{{ project.title }}</div></a>
        {% endif %}

        <div class="project description">{{ project.short_description | truncate: 75 }}</div>
      </div>

      <!--<a class="button" href="{{ site.base }}{{ project.url }}">More...</a>-->
    </article>
    {% endif %}
    {% endfor %}
  </div>
</div>