---
layout: bound_project
title: "Bound"
date: 2020-12-15 00:00:00 +1000
categories: Game
short_description: Bound is an RPG with a focus on combat!
description: |
    Bound is an RPG with a focus on combat!
    <br>
    Bound is being developed in the Godot Game Engine! At this current point in time, there isn't all that much to show! But do check out the Bound information post, which details what I want in the game and more!

background-image: /images/projects/bound/GameIcon.png
icon: /images/projects/bound/favicon.ico
titleimage: /images/projects/bound/title.png
featured: true
status: in development
permalink: projects/Bound/
---

<div class="status {{ page.status }}">{{ page.status }}</div>

<div class="bound-container">
    <div class="title"></div>
    <div class="content">
        <div class="subtitle">{{ page.short_description }}</div>
        <div class="justifytextbox">
            <br />
            <div class="text">
                Bound is being developed in the
                <a class="link" href="https://godotengine.org/">Godot Game Engine!</a>
                At this current point in time, there isn't all that much to show! But do
                check out the Bound information post, which details what I want in the
                game and more!
                <a class="link" href="{{ site.base}}/personal/2021/08/26/what-is-Bound.html">Bound Information Post!</a>
            </div>
            <br />
            <div class="text">
                But don't worry, I should have something to show soon! Why not check the
                Discord just in case! Who knows... maybe I've been posting some snippets
                on progress! <a class="link" href="{{ site.discord_link }}">Discord</a>
            </div>
            <br />
            <div class="text">
                In addition to the Discord, there is also a Trello page for Bound! The
                Trello page can be a little bit random at times BUT, it does show some
                progress and little bits of the game's direction as the game progresses!

                <a class="link" href="https://trello.com/b/SieEloKO/bound">Trello</a>
            </div>
        </div>
        <br />
        <div class="subtitle">Latest News!</div>
        <br />
        <div class="news">
            {% for post in site.posts limit:1 %} 
            {% if post.project == "Bound" %}

            <a class="post" href="{{ site.base }}{{ post.url }}">
                <div class="image" style="background-image: url({{ site.base }}{{ post.image }});"></div>
                <div class="postcontent">
                    <div class="posttitle">{{ post.title }}</div>
                    <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>
                    <div class="category">{{ post.categories }}</div>
                    {% assign excerptParts = post.excerpt | split: "<!-- excerpt_start -->" %}
                    <div class="text">{{ excerptParts[1] | truncate: 200 | strip_html }}</div>
                </div>
            </a>
            
            {% endif %} 
            {% endfor %}
        </div>
        <br />

        <div class="subtitle">Who's behind the development?</div>
        <br />
        <div class="justifytextbox">
            <div class="text">
                Just the lovely and good old <a class="link" href="/">Jelly!</a>
            </div>
            <br />
            <div class="text">
                I mostly work on this project when I have free time available if it's
                not already being spent on playing games or other activities!
            </div>
            <br />
            <div class="text">
                On the other hand, the weekends are when I do sit down and get at least
                a little bit of work done on Bound!
            </div>
        </div>
        <br />
    </div>
</div>