<head prefix="og: {{ site.url }}">
    <style>
        html,body { background-color: #080808; }
    </style>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/css.css?v=0.1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="/css/global.css?v=0.1" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/global.css?v=0.1"></noscript>
</head>