    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="/images/profilePic.jpg" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="theme-color" content="#FF0000">
    
    <!-- Include this to make the og:image larger -->
    <meta name="twitter:card" content="summary_large_image">