<div id="peeker" class="peeker">
    <div id="nav" class="nav">
        <a href="/" aria-label="Home Button"><span class="home"><div class="tooltip">Home</div></span></a>
        <a href="/blog/" aria-label="Blog Button"><span class="blog"><div class="tooltip">Blog</div></span></a>
        <a href="/projects/" aria-label="Projects Button"><span class="projects"><div class="tooltip">My Projects</div></span></a>
        <a href="/commissions/" aria-label="Commissions Button"><span class="commissions"><div class="tooltip">Commissions</div></span></a>
    </div>
</div>
<div id="hide" class="hide"></div>
<div id="cover" class="cover"></div>