<div id="peeker" class="peeker">
    <div id="nav" class="nav">
        <a href="/"><span class="home"><div class="tooltip">Home</div></span></a>
        <a href="/blog/"><span class="blog"><div class="tooltip">Blog</div></span></a>
        <a href="/projects/"><span class="projects"><div class="tooltip">Projects</div></span></a>
        <a href="/commissions/"><span class="commissions"><div class="tooltip">Commissions</div></span></a>
    </div>
</div>
<div id="hide" class="hide"></div>
<div id="cover" class="cover"></div>