---
permalink: /commissions/
layout: page
title: Commissions
---
<div class="title center">{{ page.title }}</div>
  <div class="card-chain" data-barba-prevent="all" hx-boost="false">
    <!--<div class="information">
      <div class="title">Welcome to my Commissions page!</div>
      <p class="info">Just browsing or looking for information on my commissions status/information? <br>
        Head to this <a href="/commissions/information/" class="link">page</a> here if you're looking for information on what I can provide!</p>
    </div>-->
    {% for project in site.commissions reversed %}
    {% if project.featured %}
    <div class="card post">
      <div class="background" style="background-image: url('{{ project.background-image }}');">      
        <div class="project status">{{ project.status }}</div> 
        {% if project.isExternal %}
        <a href="{{ project.link }}" aria-label="{{ project.title }}"><div class="project title">{{ project.title }}</div></a>
        {% else %}
        <a href="{{ site.base }}{{ project.url }}" aria-label="{{ project.title }}"><div class="project title">{{ project.title }}</div></a>
        {% endif %}

        <div class="project description">{{ project.short_description | truncate: 75 }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% for project in site.commissions reversed%}
    {% if project.featured == false %}

    <div class="card post">
      <div class="background" style="background-image: url('{{ project.background-image }}');">
        <div class="project status">{{ project.status }}</div>     
        {% if project.isExternal %}
        <a href="{{ project.link }}" aria-label="{{ project.title }}"><div class="project title">{{ project.title }}</div></a>
        {% else %}
        <a href="{{ site.base }}{{ project.url }}" aria-label="{{ project.title }}"><div class="project title">{{ project.title }}</div></a>
        {% endif %}

        <div class="project description">{{ project.short_description | truncate: 75 }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>